*.iml
.kotlin
.gradle
.konan
**/build/
xcuserdata
!src/**/build/
local.properties
.idea
capture/
*.apk
*.aar
.DS_Store
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
node_modules/
# iOS (Xcode)
iosApp/DerivedData
iosApp/*.xcworkspace/xcuserdata
iosApp/*.xcodeproj/project.xcworkspace/xcuserdata
iosApp/*.xcodeproj/xcuserdata
.lsreachable
# macOS
.DS_Store

